@import "tailwindcss";

@keyframes marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shine {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 25s linear infinite;
  will-change: transform;
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: marquee-right 25s linear infinite;
  will-change: transform;
}

.animate-shine {
  animation: shine 2s linear infinite;
  will-change: transform;
}

